html {
  scroll-behavior: smooth;
}

body {
  color: white;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 9vh;
  font-style: normal;
  text-align: center;
  color: white;
}

h2 {
  font-size: 5vh;
  font-weight: 300;
  text-align: center;
}

h3,
h4,
h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

img {
  height: 280px;
  width: 445px;
  -moz-box-shadow: 2px 2px 2px black;
  -webkit-box-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

body {
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-size: 20px;
  background: linear-gradient(-45deg, #ca9787, #812649, #4ba1c1, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}

section {
  display: flex;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: end;
  border: thin solid lightblue;
}

.content {
  place-content: center;
  width: 100vw;
  justify-content: center;
  align-items: space-between;
  padding: 12px;
  margin: 12px;
}

.swipe {
  display: grid;
  place-content: center;
  width: 150px;
  height: 100vh;
  background-color: lightblue;
}

ul {
  margin: 0 auto;
  text-align: center;
}

@-webkit-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}
@-moz-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}
@keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
}
/* /left bounce */

/* right bounce */
@-webkit-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-moz-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}
@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
/* /right bounce */

.arrow-right {
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
  float: right;
}

.arrow-left {
  -webkit-animation: bounceLeft 2s infinite;
  animation: bounceLeft 2s infinite;
  float: left;
}

@keyframes up-bump {
  0% {
    padding-top: 2em;
  }
  50% {
    padding-top: 1.5em;
  }
  100% {
    padding-top: 2em;
  }
}
@keyframes down-bump {
  0% {
    padding-top: 2em;
  }
  50% {
    padding-top: 2.5em;
  }
  100% {
    padding-top: 2em;
  }
}

li,
.connection {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 8px;
  margin: 8px;
  color: #fff;
  text-decoration: none;
  border: 2px solid lightslategray;
  border-radius: 2px;
}
li:before,
.connection:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightblue;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
li:hover,
li:focus,
li:active,
.connection:hover,
.connection:focus,
.connection:active {
  color: black;
  background-size: 100% 2px; /*width:100% height:2px*/
  transform: scale(1.1);
}
li:hover:before,
li:focus:before,
li:active:before,
.connection:hover:before,
.connection:focus:before,
.connection:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
